# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Demonstrate the usage of development environment tools in Data Science
- Evaluate basic arithmetic expressions in Python
- Convert units of time using Python code

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers

In [22]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [23]:
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author

Darren Wu